body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: url("https://images6.alphacoders.com/639/639813.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 16px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  @media (max-height: 500px) {
    body {
      min-height: 800px;
    }
  }
  
  input {
    color: #ffffff;
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
    background: #731922;
    border: 2px solid #000000;
  }
  
  button {
    color: #ffffff;
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #731922;
    border: 2px solid #000000;
    cursor: pointer;
  }
  
  button[disabled] {
    background: #2a141b;
  }
  
  .resultado {
    color: #ffffff;
    text-align: center;
    margin-top: 16px;
    text-shadow: 0.1em 0.1em 0.2em black;
  }

  fieldset {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    height: 90%;
    max-height: 500px;
    border: 0;
    border-radius: 5px;
    background-color: #731922;
  }